<h2 mat-dialog-title class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">
  New Column Mapping Profile
</h2>
<form [formGroup]="form" class="flex flex-col gap-4">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Profile Name" />
    @if (form.controls.name?.hasError('required')) {
      <mat-error>Name is a required field</mat-error>
    }
  </mat-form-field>
</form>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Create Profile</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-stroked-button (click)="close()">Cancel</button>
  </mat-dialog-actions>
</div>
