<seed-page
  [config]="{
    title: 'Analysis',
    titleIcon: 'fa-solid:chart-bar', 
    subTitle: analysis?.name,
    breadcrumbs: ['Analyses', 'Detail']}"
>
<div class="h-full-page m-5" id="content">
  <div class="my-5 flex gap-4">
    <div class="text-lg bold whitespace-nowrap min-w-40">
      {{ analysis?.service }} Analysis
    </div>
    <div class="max-w-160 text-secondary">{{ analysisDescription }}</div>
  </div>
  <mat-divider></mat-divider>

  <div class="my-5">
    @if (analysis) {
      <ag-grid-angular
        [columnDefs]="columnDefs.analysis"
        [rowData]="[analysis]"
        [theme]="gridTheme$ | async"
        [style.height.px]="93"
      ></ag-grid-angular>
    }
  </div>
  <mat-divider></mat-divider>

  <div class="my-5 flex gap-4">
    <div class="text-lg bold whitespace-nowrap w-40">
      Configuration
    </div>
    <ul class="text-secondary list-disc pl-5">
      @for (item of analysis?.configuration | keyvalue; track $index) {
        @if (item.key === 'meter') {
          <div [innerHTML]="meterConfig(item)"></div>
        } @else {
          <li>{{item.key}}: {{item.value | json}}</li>
        }
      }
    </ul>
  </div>

  <mat-divider></mat-divider>
  <div class="my-5 flex gap-4">
    <div class="text-lg bold whitespace-nowrap w-40">
      Latest Message
    </div>
    <div class="max-w-160 text-secondary"> 
      {{ latestMessage }}
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="my-5">
    @if (gridViews.length) {
      <ag-grid-angular
        [columnDefs]="columnDefs.views"
        [rowData]="gridViews"
        [style.height.px]="gridHeight"
        [theme]="gridTheme$ | async"
        [getRowHeight]="getRowHeight"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    }
  </div>

</div>

</seed-page>