<seed-modal-header
  title="UBIDs"
  titleIcon="fa-solid:building"
  [close]="close.bind(this)"
>
</seed-modal-header>

<div>

  <ag-grid-angular
  [columnDefs]="colDefs"
  [rowData]="ubids"
  [theme]="gridTheme$ | async"
  [gridOptions]="gridOptions"
  [style.height.px]="gridHeight"
  (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

  @if (inProgress) {
    <seed-progress-bar></seed-progress-bar>
  }
  
  @else if (errMessages.length) {
    <seed-alert type="error" showIcon="false" appearance="outline" class="my-4">
      <ul class="list-disc">
        @for (msg of errMessages; track $index) {
          <li class="ml-8">{{ msg }}</li>
        }
      </ul>
    </seed-alert>
  }

</div>

<div class="mt-4 flex justify-end gap-2">
  <button (click)="addRow()" mat-stroked-button>Add UBID</button>
  <button (click)="onSubmit()" mat-raised-button color="primary">Save</button>
</div>