<h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
  Delete Salesforce Field Mapping
</h2>
<div class="flex flex-col gap-4">
  <div class="prose flex">Really Delete the mapping for:</div>
  <div class="background-grey-100 text-grey-900 flex font-bold">{{ salesforceMapping.salesforce_fieldname }} -> {{ columnName }}</div>
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="primary">Yes</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button (click)="close()" mat-stroked-button>No</button>
  </mat-dialog-actions>
</div>
