<seed-page [config]="{
    title: pageTitle,
    titleIcon: 'fa-solid:building',
  }">
</seed-page>

<div class="m-5 flex flex-col gap-4">
  
  <!-- HEADER -->
  @if (views) {
    <seed-inventory-detail-header
      [labels]="labels"
      [org]="org"
      [selectedView]="selectedView"
      [type]="type"
      [view]="view"
      [views]="views"
      (changeView)="onChangeView($event)"
    ></seed-inventory-detail-header>
  }

  <!-- HISTORY -->
  @if (view) {
    <mat-divider></mat-divider>
    <seed-inventory-detail-history
    [view]="view"
    [orgId]="orgId"
    ></seed-inventory-detail-history>
  }

  <!-- PAIRED TAXLOTS / PROPERTIES -->
  @if (paired?.length) {
    <mat-divider></mat-divider>
    <seed-inventory-detail-paired-grid
      [org]="org"
      [type]="type"
      [view]="view"
    ></seed-inventory-detail-paired-grid>

  }

  @if (view?.property) {
    <mat-divider></mat-divider>
    <seed-inventory-detail-documents-grid
      [org]="org"
      [type]="type"
      [view]="view">
    </seed-inventory-detail-documents-grid>
  }

  @if (view?.property && view?.state.files.length) {
    <mat-divider></mat-divider>
    <seed-inventory-detail-building-files-grid
      [type]="type"
      [view]="view">
    </seed-inventory-detail-building-files-grid>
  }
  <div class="mt-10"></div>
  <div>Scenarios and Measures</div>

</div>