
<div class="flex gap-4 mb-5">
  <div>
    <!--  Actions -->
    <div class="m-1 flex flex-row gap-4">
      <mat-label class="text-sm text-gray-400 w-15">Actions</mat-label>
      <mat-select class="h-8 w-60 rounded border border-gray-500 p-3 text-sm"
        panelClass="fit-content-select"
        #actionSelect 
        placeholder="Select Action" 
        (selectionChange)="onAction($event.value.action, actionSelect)"
      >
        @for (item of actions; track $index) {
        <mat-option class="!h-3 text-sm" [value]="item">{{ item.name }}</mat-option>
        }
      </mat-select>
    </div>

    <!--  Cycles -->
    <div class="m-1 flex flex-row gap-4">
      <mat-label class="text-sm text-gray-400 w-15">Cycle</mat-label>
      <mat-select class="h-8 w-60 rounded border border-gray-500 p-3 text-sm"
        placeholder="Select Cycle"
        [value]="selectedView.id"
        (selectionChange)="onChangeView($event.value)"
      >
        @for (item of views; track $index) {
          <mat-option class="!h-3 text-sm" [value]="item.id">{{ item.cycle.name }}</mat-option>
        }
      </mat-select>
    </div>

    <!-- Labels -->
    @if (labels && labels.length) {
      <div class="flex text-gray-400 m-1 mt-2">
        <span class="mr-8 w-12">Labels</span>
          @for (label of labels; track $index) {
            <seed-label [label]="label"></seed-label>
          }
      </div>
    }
    
    <!-- Groups -->

    @if(type === 'properties' && groupMappings.length) {
    <div class="flex text-gray-400 m-1 mt-2">
      <span class="mr-8 my-auto w-12">Groups</span>
        @for (group of groupMappings; track $index) {
          <a class="mr-2 !p-0" (click)="tempAction()" mat-stroked-button>
            {{ group.group_name }}
          </a>
        }
      </div>
    }
    
    <!-- Access Level Instance Info -->
    @if (aliColumnDefs.length) {
      <mat-divider class="mt-4"></mat-divider>
      <div class="mt-4">
        <div class="text-lg font-medium mb-4 ml-4 flex">
          <mat-icon svgIcon="fa-solid:tree"></mat-icon>
          <span class="ml-4">Access Levels</span>
        </div>
        <!-- <span class="text-gray-400 m-1">Access Levels</span> -->
        <ag-grid-angular 
          style="height: 100%"
          [columnDefs]="aliColumnDefs"
          [rowData]="aliRowData" 
          [theme]="gridTheme$ | async" 
          [style.height.px]="90"
          (gridReady)="onGridReady($event)"
         />
      </div>
    }
    
  </div>
  
  @if (enableMap) {
    <div class="w-full h-80">
      <seed-inventory-detail-map
      [state]="view.state"
      [type]="type"
      ></seed-inventory-detail-map>    
    </div>
  }
</div>
