  @if (rowData) {
    <div class="mb-5">
      <div class="text-lg font-medium mb-4 ml-4 flex">
        <mat-icon svgIcon="fa-solid:layer-group"></mat-icon>
        <span class="ml-4">History</span>
      </div>
      <!-- <span class="text-lg font-medium">Paired Properties</span> -->
      <ag-grid-angular 
        style="width: 100%; height: 100%"
        [defaultColDef]="defaultColDef"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [style.height.px]="gridHeight"
        [theme]="gridTheme$ | async" 
        
        (gridReady)="onGridReady($event)" 
      />
    </div>

  }
