  HISTORY! {{ view.status }}

  @if (rowData) {
    <ag-grid-angular 
      [style.height.px]="gridHeight"
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [theme]="gridTheme" 
      (gridReady)="onGridReady($event)" 
    />
  }

  <!-- <ag-grid-angular 
    class="inventory-grid h-[calc(100%-130px)] w-full" 
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef" 
    [gridOptions]="gridOptions"
    [paginationPageSize]="agPageSize"
    [rowData]="rowData"
    [theme]="gridTheme" 
    (gridReady)="onGridReady($event)" 
    (filterChanged)="onFilterSortChange()"
    (sortChanged)="onFilterSortChange()" 
    style="width: 100%; height: 100%" /> -->
