<div *transloco="let t">
  <h2 mat-dialog-title>{{ t('Create Column') }}</h2>

  <mat-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>{{ t('Column Name') }}</mat-label>
      <input [(ngModel)]="columnName" [disabled]="inProgress" matInput autocomplete="off" />
      @if (isDuplicate) {
        <mat-error>{{ t('This name is already in use.') }}</mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [disabled]="inProgress" (click)="close()" mat-stroked-button>{{ t('Cancel') }}</button>
    <button [disabled]="!isValid || inProgress" (click)="create()" mat-flat-button color="primary">{{ t('Create Column') }}</button>
  </mat-dialog-actions>
</div>
