<h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>Edit Column</h2>
<form class="flex flex-col gap-4" [formGroup]="form">
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="display_name" placeholder="Display Name" />
      @if (form.controls.display_name?.hasError('required')) {
        <mat-error>Display Name is a required field</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Column Description</mat-label>
      <input matInput formControlName="column_description" placeholder="Description" />
      @if (form.controls.display_name?.hasError('required')) {
        <mat-error>Column Description is a required field</mat-error>
      }
    </mat-form-field>
  @if (inProgress) {
    <mat-progress-bar [value]="progressBarObj.progress" mode="determinate"></mat-progress-bar>
  }
  @if (!inProgress) {
    <div class="flex justify-end">
      <mat-dialog-actions>
        <button [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button color="primary">Save</button>
      </mat-dialog-actions>
      <mat-dialog-actions>
        <button (click)="close()" mat-stroked-button>Cancel</button>
      </mat-dialog-actions>
    </div>
  }
</form>
