<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
  >
    <div class="min-w-0 flex-1">
      <h2 class="truncate text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">{{ config.title }}</h2>
    </div>
    <!-- Actions -->
    @if (config.action) {
      <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
        <a mat-flat-button color="primary" (click)="config.action()">
          <mat-icon class="icon-size-4" [svgIcon]="config.actionIcon"></mat-icon>
          <span class="ml-2">{{ config.actionText }}</span>
        </a>
      </div>
    }
  </div>
  <ng-content></ng-content>
</div>
