<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
  >
    <div class="min-w-0 flex-1">
      <h2 class="truncate text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">
        @if (config.titleIcon) {
          <mat-icon class="icon-size-6" [svgIcon]="config.titleIcon"></mat-icon>
        }
        {{ config.title }}
      </h2>
    </div>
    <!-- Actions -->
    @if (config.action2) {
      <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
        <a mat-flat-button color="primary" (click)="config.action2()">
          <mat-icon class="icon-size-4" [svgIcon]="config.action2Icon"></mat-icon>
          <span class="ml-2">{{ config.action2Text }}</span>
        </a>
      </div>
    }
    @if (config.action) {
      <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
        @if (config.actionIcon && !config.actionText) {
          <button [class]="config.actionClasses" mat-icon-button (click)="config.action()">
            <mat-icon [svgIcon]="config.actionIcon"></mat-icon>
          </button>
        } @else {
          <button [class]="config.actionClasses" mat-flat-button color="primary" (click)="config.action()">
            @if (config.actionIcon) {
              <mat-icon class="icon-size-4" [svgIcon]="config.actionIcon"></mat-icon>
            }
            @if (config.actionText) {
              <span [class.ml-2]="config.actionIcon">{{ config.actionText }}</span>
            }
          </button>
        }
      </div>
    }
  </div>
  <ng-content></ng-content>
</div>
