<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
    >
    <div class="min-w-0 flex-1">
      <div class="flex" [class]="config.sideNavToggle ? '-mt-3' : ''">
        @if (config.sideNavToggle) {
          <button mat-icon-button (click)="toggleDrawer()">
            <mat-icon>menu</mat-icon>
          </button>
        }
        @if (config.breadcrumbs?.length > 0) {
          <div class="flex flex-wrap items-center gap-x-1 font-medium">
            @for (breadcrumb of config.breadcrumbs; track $index) {
              <div class="flex items-center gap-x-1 whitespace-nowrap">
                @if (!$first) {
                  <mat-icon class="text-secondary icon-size-3" svgIcon="fa-solid:chevron-right"></mat-icon>
                }
                <span class="text-secondary">{{ breadcrumb }}</span>
              </div>
            }
          </div>
        }
      </div>
      <div [ngClass]="{ 'mt-2': config.breadcrumbs?.length > 0 }">
        <div class="flex">

          <h2 class="truncate text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">
            @if (config.titleIcon) {
              <mat-icon class="text-primary-900 icon-size-6" [svgIcon]="config.titleIcon"></mat-icon>
            }
            {{ t(config.title) }}
          </h2>
        </div>
      </div>
    </div>
    <!-- Actions -->
    <div class="flex justify-end">
      @if (config.action2) {
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
          @if (config.action2Icon && !config.action2Text) {
            <button [class]="config.action2Classes" (click)="config.action2()" mat-icon-button>
              <mat-icon [svgIcon]="config.action2Icon"></mat-icon>
            </button>
          } @else {
            <button [class]="config.action2Classes" (click)="config.action2()" mat-flat-button color="primary">
              @if (config.action2Icon) {
                <mat-icon class="icon-size-4" [svgIcon]="config.action2Icon"></mat-icon>
              }
              @if (config.action2Text) {
                <span [class.ml-2]="config.action2Icon">{{ config.action2Text }}</span>
              }
            </button>
          }
        </div>
      }
      @if (config.action) {
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
          @if (config.actionIcon && !config.actionText) {
            <button [class]="config.actionClasses" (click)="config.action()" mat-icon-button>
              <mat-icon [svgIcon]="config.actionIcon"></mat-icon>
            </button>
          } @else {
            <button [class]="config.actionClasses" (click)="config.action()" mat-flat-button color="primary">
              @if (config.actionIcon) {
                <mat-icon class="icon-size-4" [svgIcon]="config.actionIcon"></mat-icon>
              }
              @if (config.actionText) {
                <span [class.ml-2]="config.actionIcon">{{ config.actionText }}</span>
              }
            </button>
          }
        </div>
      }
    </div>
  </div>
  <ng-content></ng-content>
</div>
