/* Variables */
:root {
  --seed-vertical-navigation-thin-width: 80px;
}

seed-vertical-navigation {
  /* Thin appearance overrides */
  &.seed-vertical-navigation-appearance-thin {
    width: var(--seed-vertical-navigation-thin-width);
    min-width: var(--seed-vertical-navigation-thin-width);
    max-width: var(--seed-vertical-navigation-thin-width);

    /* Left positioned */
    &.seed-vertical-navigation-position-left {
      &.seed-vertical-navigation-mode-side {
        margin-left: calc(var(--seed-vertical-navigation-thin-width) * -1);
      }

      &.seed-vertical-navigation-opened {
        margin-left: 0;
      }
    }

    /* Right positioned */
    &.seed-vertical-navigation-position-right {
      &.seed-vertical-navigation-mode-side {
        margin-right: calc(var(--seed-vertical-navigation-thin-width) * -1);
      }

      &.seed-vertical-navigation-opened {
        margin-right: 0;
      }

      .seed-vertical-navigation-aside-wrapper {
        left: auto;
        right: var(--seed-vertical-navigation-thin-width);
      }
    }

    /* Wrapper */
    .seed-vertical-navigation-wrapper {
      /* Content */
      .seed-vertical-navigation-content {
        > seed-vertical-navigation-aside-item,
        > seed-vertical-navigation-basic-item {
          flex-direction: column;
          justify-content: center;
          height: 64px;
          min-height: 64px;
          max-height: 64px;
          padding: 0 16px;

          .seed-vertical-navigation-item-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .seed-vertical-navigation-item {
              justify-content: center;
              padding: 12px;
              border-radius: 4px;

              .seed-vertical-navigation-item-icon {
                margin: 0;
              }

              .seed-vertical-navigation-item-arrow,
              .seed-vertical-navigation-item-badge-content,
              .seed-vertical-navigation-item-title-wrapper {
                display: none;
              }
            }
          }
        }

        > seed-vertical-navigation-collapsable-item {
          display: none;
        }

        > seed-vertical-navigation-group-item {
          > .seed-vertical-navigation-item-wrapper {
            display: none;
          }
        }
      }
    }

    /* Aside wrapper */
    .seed-vertical-navigation-aside-wrapper {
      left: var(--seed-vertical-navigation-thin-width);
    }
  }
}
