<seed-page
  [config]="{
    title: pageTitle,
    titleIcon: 'fa-solid:building',
  }"
>
</seed-page>

<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <!-- Header -->
  <div class="bg-card">
    <div class="mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
      <!-- Tabs -->
      <seed-page-inventory-tab [config]="{ tabs, action: toggleInventoryType.bind(this) }"></seed-page-inventory-tab>
    </div>
  </div>

  <!-- Main -->
  <div class="z-1 -mt-px flex-auto border-t pt-2">
    <!-- GRID CONFIG -->
    <div class="m-2 flex">
      <!-- Actions -->
      <seed-inventory-grid-actions
        [cycleId]="cycleId"
        [gridApi]="gridApi"
        [inventory]="inventory"
        [orgId]="orgId"
        [profile]="profile"
        [selectedViewIds]="selectedViewIds"
        (loadInventory)="loadInventory()"
      ></seed-inventory-grid-actions>

      <!-- Cycles -->
      <seed-inventory-grid-config-selector [items]="cycles" [selectedId]="cycleId" (selectionChange)="onCycleChange($event)" label="Cycle">
      </seed-inventory-grid-config-selector>

      <!-- Profiles -->
      <seed-inventory-grid-config-selector
        [items]="profiles"
        [selectedId]="profileId"
        (selectionChange)="onProfileChange($event)"
        label="Profile"
      >
      </seed-inventory-grid-config-selector>
    </div>

    <!-- Filter and Sort chips -->
    @if (gridApi && columnDefs) {
      <seed-inventory-filter-sort-chips
        [gridApi]="gridApi"
        [columnDefs]="columnDefs"
        [filters]="filters"
        [sorts]="sorts"
      ></seed-inventory-filter-sort-chips>
    }

    <!-- INVENTORY GRID -->
    <seed-inventory-grid
      #grid
      [columnDefs]="columnDefs"
      [pagination]="pagination"
      [rowData]="rowData"
      [labelLookup]="labelLookup"
      [selectedViewIds]="selectedViewIds"
      (pageChange)="onPageChange($event)"
      (filterSortChange)="onFilterSortChange($event)"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="onSelectionChanged()"
    ></seed-inventory-grid>
  </div>
</div>
