<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
  >
    <div class="min-w-0 flex-1">
      <h2 class="truncate text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">About SEED Platform™</h2>
    </div>
  </div>

  <div class="flex-auto p-6 sm:p-10">
    <div class="prose max-w-3xl">
      <p [innerHTML]="t('ABOUT_SEED')"></p>
      <ul>
        <li>Map features are provided by <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a></li>
        <li><a href="https://www.energy.gov/eere/buildings/standard-energy-efficiency-data-seed-platform">More Details</a></li>
        <li><a class="cursor-pointer" (click)="showTermsOfService()">View Terms of Service</a></li>
      </ul>

      <h2>Development Team:</h2>
      <ul>
        <li>
          Managed by: <a href="https://www.nrel.gov/">National Renewable Energy Laboratory</a> &
          <a href="https://www.lbl.gov/">Lawrence Berkeley National Laboratory</a>
        </li>
        <li>
          Funding from:
          <a href="https://www.energy.gov/eere/buildings/standard-energy-efficiency-data-seed-platform">U.S. Department of Energy</a>
        </li>
      </ul>
      <h3>Version</h3>
      <p class="not-prose">
        <code>v{{ version }}.{{ sha }}</code>
      </p>
    </div>
  </div>
</div>
