<seed-modal-header [close]="close.bind(this)" title="Geocode Inventory" titleIcon="fa-solid:map"> </seed-modal-header>

<!-- CONTENT -->
<div *transloco="let t">
  @if (!hasApiKey) {
    <seed-alert class="m-1" type="error" appearance="outline" showIcon="false">
      <div class="my-1">
        {{ t('NO_MAPQUEST_API_KEY_FOR_ORG') }}
      </div>
      <div class="text-red-secondary my-1">
        {{ t('DIRECTIONS_FOR_UPDATING_MQ_API_KEY') }}
      </div>
    </seed-alert>
  }

  @if (!geocodingEnabled) {
    <seed-alert class="m-1" type="error" appearance="outline" showIcon="false">
      {{ t('Geocoding has been disabled for this organization.') }}
    </seed-alert>
  }

  <!-- @if (suggestVerify) {
    <div translate>{{ t('SUGGEST_TO_VERIFY') }}</div>
  } -->

  <!-- @if (notGeocoded) {

  } -->
</div>

<div class="mt-4 flex justify-end gap-2">
  <button [disabled]="!valid" (click)="onSubmit()" mat-raised-button color="primary">Geocode</button>
</div>
