<seed-modal-header [close]="close.bind(this)" title="Update Derived Data" titleIcon="fa-solid:arrows-rotate"></seed-modal-header>

<mat-horizontal-stepper class="no-header" #stepper [linear]="true">
  <mat-step editable="false">
    <div class="flex flex-col gap-4">
      <div>
        This process recalculates the data stored in derived columns for the selected properties and tax lots. This may take several
        minutes.
        <!-- The derived columns will appear yellow to indicate that the update is in progress. -->
      </div>

      <!-- <div class="text-sm text-secondary my-4">
        Note that while the columns are yellow, the data may not be up to date. Refresh the page to refresh the columns status.

      </div> -->
    </div>
  </mat-step>

  <mat-step>
    <seed-progress-bar [total]="progressBarObj.total" [progress]="progressBarObj.progress" title="Updating Derived Data">
    </seed-progress-bar>
  </mat-step>
</mat-horizontal-stepper>

<div class="mt-4 flex justify-end gap-2">
  <button [disabled]="inProgress" (click)="onSubmit()" mat-raised-button color="primary">Update</button>
</div>
