<seed-modal-header title="Delete {{ data.model }}" titleIcon="fa-solid:trash-can"></seed-modal-header>

<div class="mx-4 my-5 flex justify-evenly">
  Are you sure you want to delete {{ data.model.toLowerCase() }} {{ data.instance }}? This action cannot be undone.
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="warn">Yes</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button (click)="close()" mat-stroked-button>No</button>
  </mat-dialog-actions>
</div>
