<seed-page
  [config]="{
    title: 'Groups',
    titleIcon: 'fa-solid:sitemap',
    action: createGroup,
    actionText: 'Create Group',
  }"
>
</seed-page>

<div class="my-5">
  @if (rowData.length) {
    <ag-grid-angular
      [columnDefs]="columnDefs"
      [rowData]="rowData"
      [theme]="gridTheme$ | async"
      [style.height.px]="gridHeight"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  } @else {
    <seed-not-found message="No Groups Found" icon="fa-solid:triangle-exclamation"></seed-not-found>
  }
</div>
