<div class="prose px-4" *transloco="let t">
  <h2 class="mt-6 flex items-center border-b-2 font-extrabold tracking-tight">
    {{ t('Help') }}<mat-icon class="mx-2 text-current icon-size-3" svgIcon="fa-solid:chevron-right"></mat-icon>{{ t('Column Mappings') }}
  </h2>
  <p>{{ t('COL_MAP_PROFILE_INTRO') }}</p>
  <p>{{ t('COL_MAP_PROFILE_MAPPING_INTRO') }}</p>
  <p>{{ t('COL_MAP_PROFILE_MAPPING_TYPING') }}</p>
  <p>{{ t('COL_MAP_PROFILE_MAPPING_DIRECT_COPY_ADVICE') }}</p>
  <p>{{ t('COL_MAP_PROFILE_MAPPING_SUGGESTION_ADVICE') }}</p>
  <p>{{ t('COL_MAP_PROFILE_MAPPING_CSV_BUTTON_ADVICE') }}</p>
  <strong
    ><p>{{ t('COL_MAP_PROFILE_MAPPING_EXACT_MATCH_ADVICE') }}</p></strong
  >
</div>
