<seed-page [config]="{
    title: pageTitle,
    titleIcon: 'fa-solid:sliders',
  }">
</seed-page>

<button mat-stroked-button (click)="action()">RESET</button>

<div class="m-5 flex flex-col gap-4">

  @if (rowData.length) {
    <ag-grid-angular
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [style.height.px]="gridHeight"
      [theme]="gridTheme$ | async"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  }
</div>