// Styles from this file will override 'vendors.scss' and SEED's base styles.
@tailwind utilities;

.mat-mdc-snack-bar-container {
  &.success-snackbar  {
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.info-snackbar {
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.alert-snackbar {
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.warning-snackbar {
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-container-color: rgb(245 158 11 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: #fff;
  }

  &.soft-success-snackbar {
    border-width: 1px;
    border-color: rgb(22 163 74);
    border-radius: 4px;
    button {span {color: rgb(20 83 45)}}

    --mdc-snackbar-container-color: rgb(240 253 244 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: rgb(21 128 61);
  }

  &.soft-info-snackbar {
    border-width: 1px;
    border-color: rgb(37 99 235);
    border-radius: 4px;
    button {span {color: rgb(30 58 138)}}

    --mdc-snackbar-container-color: rgb(239 246 255 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: rgb(29 78 216);
  }

  &.soft-alert-snackbar {
    border-width: 1px;
    border-color: rgb(220 38 38);
    border-radius: 4px;
    button {span {color: rgb(127 29 29)}}

    --mdc-snackbar-container-color: rgb(254 242 242);
    --mdc-snackbar-supporting-text-color: rgb(185 28 28);
  }

  &.soft-warning-snackbar {
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(217 119 6);
    button {span {color: rgb(120 53 15)}}

    --mdc-snackbar-container-color: rgb(255 251 235 / var(--tw-bg-opacity, 1));
    --mdc-snackbar-supporting-text-color: rgb(180 83 9);
  }
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: rgb(50 170 118);
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: rgb(113 226 147) !important;
}

.label {
  color: #fff !important;
  font-weight: 700;
  padding: 4px;
  margin: 2px;
  border-radius: 4px;
  display: inline;
  width: auto;

  &.orange {
    background-color: theme('colors.orange.400');
  }

  &.red {
    background-color: theme('colors.red.700');
  }

  &.gray {
    background-color: theme('colors.stone.600');
  }

  &.green {
    background-color: theme('colors.green.700');
  }

  &.blue {
    background-color: theme('colors.blue.700');

    &.light {
      background-color: theme('colors.cyan.600') !important;
    }
  }
}

.even-row {
  @apply bg-gray-100
}

.dark .even-row {
  @apply bg-slate-900
}

.inventory-grid {
  .ag-header-cell {
    .cell-menu {
      overflow: visible !important
    }
  }
}

.seed-dialog-panel {
  @screen md {
    @apply w-128;
  }

  .mat-mdc-dialog-container {
    .mat-mdc-dialog-surface {
      padding: 0 !important;
    }
  }
}

.seed-chip 
.mat-mdc-chip-action-label {
  @apply inline !text-gray-700 dark:!text-secondary !text-xs;
}

.fit-content-select.mat-mdc-select-panel {
  min-height: fit-content !important;
}

// MAT dark components
.dark {
  .mat-mdc-option-active {
    .mdc-list-item__primary-text, .mat-pseudo-checkbox::after {
      color: lightblue !important;
    }
  }
  .mat-pseudo-checkbox-full.mat-pseudo-checkbox-checked {
    background: white !important;
  }
}

.h-full-page {
  height: calc(100vh - 235px)
}
.h-full-page-tabs {
  height: calc(100vh - 265px)
}