<div class="flex-auto p-6 sm:p-10" *transloco="let t">
  <div class="max-w-2xl">
    <h2 class="mb-6 flex items-center text-center text-2xl">
      <mat-icon class="mr-2" svgIcon="fa-solid:circle-user"></mat-icon>Profile Information
    </h2>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="bg-card mt-8 flex flex-col overflow-hidden rounded-2xl p-8 pb-4 shadow">
      <div class="gt-xs:flex-row flex flex-col">
        <mat-form-field class="gt-xs:pr-3 flex-auto">
          <mat-label>{{ t('First Name') }}</mat-label>
          <input matInput [formControlName]="'firstName'" />
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'fa-solid:circle-user'"></mat-icon>
          @if (profileForm.controls['firstName']?.invalid) {
            <mat-error>{{ t('Last Name required') }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="gt-xs:pl-3 flex-auto">
          <mat-label>{{ t('Last Name') }}</mat-label>
          <input matInput [formControlName]="'lastName'" />
          <mat-icon class="icon-size-5" matPrefix [svgIcon]="'fa-solid:circle-user'"></mat-icon>
          @if (profileForm.controls['lastName']?.invalid) {
            <mat-error>{{ t('Last Name required') }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex">
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <mat-icon class="icon-size-5" [svgIcon]="'fa-solid:envelope'" matPrefix></mat-icon>
          <input [formControlName]="'email'" matInput />
          @if (profileForm.controls['email']?.invalid) {
            <mat-error>{{ t('Invalid email address') }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button mat-flat-button color="primary" [disabled]="profileForm.invalid">
          <span class="ml-2">{{ t('Update') }}</span>
        </button>
      </div>
      <!-- Alert -->
      @if (showAlert) {
        <div class="mb-4 mt-0">
          <seed-alert class="-mb-4 mt-8" appearance="outline" [showIcon]="false" [type]="alert.type">
            {{ alert.message }}
          </seed-alert>
        </div>
      }
    </form>
  </div>
</div>
