<seed-page
  [config]="{
    title: 'Property',
    subTitle: viewDisplayField$ | async,
    titleIcon: 'fa-solid:building',
    breadcrumbs: ['Property', 'UBIDs'],
    sideNavToggle: true,
    action: createUbid,
    actionIcon: 'fa-solid:plus',
    actionText: 'Create Ubid',
  }"
>
  @if (enableMap) {
    <div class="my-5 mr-5 h-80">
      <seed-inventory-detail-map [state]="view.state" [type]="type"></seed-inventory-detail-map>
    </div>
  }

  @if (rowData.length) {
    <div class="ml-6 mr-5">
      <ag-grid-angular
        [columnDefs]="columnDefs"
        [getRowClass]="getRowClass"
        [rowData]="rowData"
        [style.height.px]="gridHeight"
        [theme]="gridTheme$ | async"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  } @else {
    <div class="mx-auto mt-20 flex w-1/2 justify-center space-x-2 rounded-xl border bg-white p-10 dark:bg-gray-800">
      <mat-icon class="text-primary-600" svgIcon="fa-solid:triangle-exclamation"></mat-icon>
      <div class="text-secondary text-xl font-medium">No UBIDs found</div>
    </div>
  }
</seed-page>
