<seed-page [config]="{ title: 'Labels', action: create, actionIcon: 'fa-solid:plus', actionText: 'Create Label' }">
  <seed-page-table-container>
    <mat-table [dataSource]="labelsDataSource">
      <ng-container matColumnDef="label">
        <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
        <mat-cell *matCellDef="let label"><seed-label [label]="label"></seed-label></mat-cell>
      </ng-container>

      <ng-container matColumnDef="shown in list">
        <mat-header-cell *matHeaderCellDef>Shown In List?</mat-header-cell>
        <mat-cell *matCellDef="let label">
          @if (label.show_in_list) {
            <mat-icon class="icon-size-4" svgIcon="fa-solid:check"></mat-icon>
          }
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let label"  class="w-50 py-1">
          <a mat-stroked-button (click)="edit(label)" class="mr-2 flex">
            <mat-icon class="icon-size-4" svgIcon="fa-solid:pencil"></mat-icon>
          </a>
          <a mat-stroked-button color="warn" (click)="delete(label)" class="flex">
            <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
          </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="labelColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: labelColumns"></mat-row>
    </mat-table>
  </seed-page-table-container>
</seed-page>
