<seed-page
  [config]="{
    title: 'Map',
    titleIcon: 'fa-solid:map-location-dot',
    tabs: ['properties', 'taxlots'],
  }"
>
</seed-page>
<!-- CONTENT -->
<div class="h-full-page-tabs">
  <!-- CONFIG -->
  <div class="m-4 flex gap-8">
    <!-- CYCLE -->
    <div>
      <mat-label class="text-secondary my-auto mr-4 text-sm">Cycle</mat-label>
      <mat-select
        class="h-10 w-60 rounded border border-gray-500 p-3 text-sm"
        [(value)]="cycle"
        (selectionChange)="selectCycle()"
        placeholder="Select Cycle"
        [disabled]="inProgress"
      >
        @for (cycle of cycles; track cycle.cycle_id) {
          <mat-option [value]="cycle">{{ cycle.name }}</mat-option>
        }
      </mat-select>
    </div>
    <!-- LABELS -->
    <seed-inventory-list-map-labels
      [currentUser]="currentUser"
      [labels]="labels"
      [selectedLabels]="selectedLabels"
      (labelChange)="onLabelChange($event)"
    ></seed-inventory-list-map-labels>
  </div>

  <!-- PROGRESS -->
  @if (inProgress) {
    <div class="mx-auto mt-20 w-1/2 rounded-xl border bg-white p-10 dark:bg-gray-800">
      <div class="flex justify-between">
        <div class="mb-5 flex items-center space-x-2">
          <mat-icon class="text-primary-600" svgIcon="fa-solid:hourglass-half"></mat-icon>
          <div class="text-secondary text-xl font-medium leading-6">Loading Inventory...</div>
        </div>
        @if (progress.current && progress.current < progress.total) {
          <div class="text-secondary flex flex-col justify-end">{{ progress.current }} / {{ progress.total }}</div>
        }
      </div>

      <!-- <span class="mx-auto text-secondary">Loading Inventory... ( {{ progress.current }} / {{ progress.total }} )</span> -->
      <mat-progress-bar [mode]="progressMode" [value]="progress.percent"></mat-progress-bar>
    </div>
  } @else if (data.length === 0) {
    <div class="mx-auto mt-20 w-1/2 rounded-xl border bg-white p-10 dark:bg-gray-800 flex justify-center space-x-2">
      <mat-icon class="text-primary-600" svgIcon="fa-solid:triangle-exclamation"></mat-icon>
      <div class="text-secondary text-xl font-medium">No Inventory Found</div>
    </div>
  } @else {
    <div class="flex gap-3 bg-white px-2 dark:bg-gray-800">
      <!-- Refresh Map -->
      <mat-icon
        class="my-auto scale-75 cursor-pointer"
        (click)="refreshMap()"
        svgIcon="fa-solid:arrows-rotate"
        matTooltip="Reset map"
      ></mat-icon>

      @if (type === 'taxlots') {
        <!-- Taxlot Layer Toggle -->
        <mat-checkbox [checked]="layers?.pointsLayer.visible" (change)="toggleLayer('pointsLayer', $event.checked)" color="primary">
          <span class="text-sm">Tax Lot Points</span>
        </mat-checkbox>
        <mat-checkbox [checked]="layers?.taxlotBBLayer.visible" (change)="toggleLayer('taxlotBBLayer', $event.checked)" color="primary">
          <span class="text-sm">Tax Lot Ubids</span>
        </mat-checkbox>
        <mat-checkbox
          [checked]="layers?.taxlotCentroidLayer.visible"
          (change)="toggleLayer('taxlotCentroidLayer', $event.checked)"
          color="primary"
        >
          <span class="text-sm">Tax Lot Ubid Centroids</span>
        </mat-checkbox>
      } @else {
        <!-- Property or Goal layer Toggle -->
        <mat-checkbox [checked]="layers?.hexBinLayer.visible" (change)="toggleLayer('hexBinLayer', $event.checked)" color="primary">
          <span class="text-sm">Hexagonal Bins</span>
        </mat-checkbox>
        <mat-checkbox [checked]="layers?.pointsLayer.visible" (change)="toggleLayer('pointsLayer', $event.checked)" color="primary">
          <span class="text-sm">Property Points</span>
        </mat-checkbox>
        <mat-checkbox [checked]="layers?.propertyBBLayer.visible" (change)="toggleLayer('propertyBBLayer', $event.checked)" color="primary">
          <span class="text-sm">Property Ubids</span>
        </mat-checkbox>
        <mat-checkbox
          [checked]="layers?.propertyCentroidLayer.visible"
          (change)="toggleLayer('propertyCentroidLayer', $event.checked)"
          color="primary"
        >
          <span class="text-sm">Property Ubid Centroids</span>
        </mat-checkbox>
      }

      <mat-checkbox [checked]="layers?.censusTractLayer.visible" (change)="toggleLayer('censusTractLayer', $event.checked)" color="primary">
        <span class="text-sm">Census Tracts</span>
      </mat-checkbox>
      <mat-checkbox
        [checked]="highlightDACs"
        [disabled]="!layers?.censusTractLayer?.visible"
        (change)="toggleHighlightDACs()"
        color="primary"
      >
        <span class="text-sm">Highlight DACs</span>
      </mat-checkbox>
    </div>
  }
  <!-- MAP -->
  <div class="h-[calc(100%-100px)] w-full" id="map">
    <div id="popup-element"></div>
  </div>

  <!-- EUI GRADIENT -->
  @if (!inProgress) {
    <div
      class="text-secondary absolute bottom-0 right-0 rounded-tl-lg border border-opacity-0 bg-gray-100 p-1 pb-0 text-xs opacity-100 dark:text-secondary dark:bg-gray-900"
    >
      <div class="flex">
        <span class="mr-2">Total Site EUI (kBtu/ft²)</span>
        <span>20 -</span>
        <div class="mx-2 h-3 w-20 rounded-lg border" [style]="hexBinInfoBarColor()"></div>
        <span>+ 750</span>
      </div>
    </div>
  }
</div>
