<seed-page [config]="{
    title: 'Map',
    titleIcon: 'fa-solid:map-location-dot',
    tabs: ['properties', 'taxlots'],
  }">
</seed-page>
<!-- CONTENT -->
<div class="h-full-page-tabs">
  <!-- CONFIG -->
  <div class="flex gap-8 m-4">
    <!-- CYCLE -->
    <div>
      <mat-label class="mr-4 my-auto text-sm text-secondary">Cycle</mat-label>
      <mat-select
        [(value)]="cycle"
        (selectionChange)="selectCycle()"
        placeholder="Select Cycle"
        class="h-10 w-60 rounded border border-gray-500 p-3 text-sm">
        @for(cycle of cycles; track cycle.cycle_id) {
          <mat-option [value]="cycle">{{ cycle.name }}</mat-option>
        }
      </mat-select>
    </div>
    <!-- LABELS -->
    <seed-inventory-list-map-labels
      [currentUser]="currentUser"
      [labels]="labels"
      [selectedLabels]="selectedLabels"
      (labelChange)="onLabelChange($event)"
    ></seed-inventory-list-map-labels>
  </div>

  <!-- PROGRESS -->
   @if (inProgress) {
    <div class="border rounded-xl dark:bg-gray-800 bg-white w-1/2 mt-20 mx-auto p-10">
      <div class="flex justify-between">

        <div class="flex items-center space-x-2 mb-5">
          <mat-icon svgIcon="fa-solid:hourglass-half" class="text-primary-600"></mat-icon>
          <div class="text-xl text-secondary font-medium leading-6">Loading Inventory...</div>
        </div>
        @if (progress.current && progress.current < progress.total) {
          <div class="text-secondary flex flex-col justify-end">{{progress.current}} / {{ progress.total }}</div>
        }
      </div>

      <!-- <span class="mx-auto text-secondary">Loading Inventory... ( {{ progress.current }} / {{ progress.total }} )</span> -->
      <mat-progress-bar [mode]="progressMode" [value]="progress.percent"></mat-progress-bar>
    </div>
   } @else {
    <div class="flex bg-white dark:bg-gray-800 gap-3 px-2">
      <!-- Refresh Map -->
      <mat-icon class="scale-75 cursor-pointer my-auto" (click)="refreshMap()" svgIcon="fa-solid:arrows-rotate" matTooltip="Reset map"></mat-icon>

      @if (type === 'taxlots') {
        
        <!-- Taxlot Layer Toggle -->
        <mat-checkbox color="primary" [checked]="layers?.pointsLayer.visible" (change)="toggleLayer('pointsLayer', $event.checked)">
          <span class="text-sm">Tax Lot Points</span>
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="layers?.taxlotBBLayer.visible" (change)="toggleLayer('taxlotBBLayer', $event.checked)">
          <span class="text-sm">Tax Lot Ubids</span>
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="layers?.taxlotCentroidLayer.visible" (change)="toggleLayer('taxlotCentroidLayer', $event.checked)">
          <span class="text-sm">Tax Lot Ubid Centroids</span>
        </mat-checkbox>

      } @else {
        
        <!-- Property or Goal layer Toggle -->
        <mat-checkbox color="primary" [checked]="layers?.hexBinLayer.visible" (change)="toggleLayer('hexBinLayer', $event.checked)">
          <span class="text-sm">Hexagonal Bins</span>
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="layers?.pointsLayer.visible" (change)="toggleLayer('pointsLayer', $event.checked)">
          <span class="text-sm">Property Points</span>
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="layers?.propertyBBLayer.visible" (change)="toggleLayer('propertyBBLayer', $event.checked)">
          <span class="text-sm">Property Ubids</span>
        </mat-checkbox>
        <mat-checkbox color="primary" [checked]="layers?.propertyCentroidLayer.visible" (change)="toggleLayer('propertyCentroidLayer', $event.checked)">
          <span class="text-sm">Property Ubid Centroids</span>
        </mat-checkbox>
      }
      
      <mat-checkbox color="primary" [checked]="layers?.censusTractLayer.visible" (change)="toggleLayer('censusTractLayer', $event.checked)">
        <span class="text-sm">Census Tracts</span>
      </mat-checkbox>
      <mat-checkbox color="primary" [checked]="highlightDACs" (change)="toggleHighlightDACs()" [disabled]="!layers?.censusTractLayer?.visible">
        <span class="text-sm">Highlight DACs</span>
      </mat-checkbox>
    </div>
  } 
  <!-- MAP -->     
  <div id="map" class="w-full h-[calc(100%-100px)]">
    <div id="popup-element"></div>
  </div>

  <!-- EUI GRADIENT -->
   @if (!inProgress) {
     <div class="absolute bottom-0 right-0 text-xs dark:bg-gray-900 opacity-100 dark:text-secondary bg-gray-100 text-secondary border border-opacity-0 rounded p-2">
       <div class="flex">
        <span class="mr-2">Total Site EUI (kBtu/ft²)</span>
        <span>20 -</span>
        <div class="w-20 h-3 border rounded-lg mx-2" [style]="hexBinInfoBarColor()"></div>
        <span>+ 750</span>
       </div>
     </div>
   }
  
</div>