<seed-page 
  [config]="{
    title: 'Summary',
    titleIcon: 'fa-solid:clipboard-list',
  }"
></seed-page>



<div class="flex flex-col gap-2 h-full-page">
    <div class="m-5 flex gap-4">
      <!-- CYCLE SELECT -->
      <mat-label class="mr-4 mt-3 text-sm text-secondary">Cycle</mat-label>
      <mat-select 
        [value]="cycleId"
        (selectionChange)="selectCycle($event.value)"
        placeholder="(no cycles)"
        class="h-10 w-60 rounded border border-gray-500 p-3 text-sm"
      >
        @for(cycle of cycles; track cycle.cycle_id) {
          <mat-option [value]="cycle.cycle_id">{{ cycle.name }}</mat-option>
        }
      </mat-select>

        <!-- SUMMARY STATS -->
        @if(summary) {
        <div class="font-bold">
          <div class="flex">
            <div class="text-secondary ml-4 w-40">Total Records: </div>
            <div>{{ totalRecords }}</div>
          </div>
          <div class="flex">
            <div class="text-secondary ml-4 w-40">Extra Data Fields: </div>
            <div>{{ totalExtraData }}</div>
          </div>
        </div>
        }
    </div>
    <mat-divider></mat-divider>


    
    <!-- INDIVIDUAL STATS -->
  @if (rowData.length) {
    <!-- <div class="m-5 w-[96%] h-full"> -->
      <ag-grid-angular
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [theme]="gridTheme$ | async"
        style="width: 100%; height: 100%;"
        (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
    <!-- </div> -->
    }

  </div>


