<mat-drawer-container class="h-full static">
  <mat-drawer mode="side" opened class="fixed top-16 h-full">
    <seed-vertical-navigation
      class="mt-4 bg-gray-100 dark:bg-gray-700 print:hidden"
      [appearance]="'default'"
      [mode]="'side'"
      name="settingsNavigation"
      [navigation]="settingsNavigationMenu"
      [opened]="true"
    >
      <!-- Navigation header hook -->
      <ng-container verticalNavigationContentHeader>
        <div class="static flex items-center justify-center p-4">
          <h3 class="font-xl font-bold">Settings</h3>
        </div>
      </ng-container>

      <!-- Navigation footer hook -->
      <ng-container verticalNavigationFooter> </ng-container>
    </seed-vertical-navigation>
  </mat-drawer>
  <mat-drawer-content class="h-full bg-white p-4">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
