<div class="h-full-page-tabs flex flex-col gap-2">
  <div class="m-5 flex gap-2">
    <div>
      <mat-label class="text-secondary mr-4 text-sm">Column List Profile</mat-label>
      <mat-select
        class="h-10 w-60 rounded border border-gray-500 p-3 text-sm"
        [value]="currentProfile?.id"
        (selectionChange)="selectProfile($event)"
        placeholder="(no profiles)"
      >
        @for (profile of profiles; track profile.id) {
          <mat-option [value]="profile.id">{{ profile.name }}</mat-option>
        }
      </mat-select>
    </div>
    <a class="flex" (click)="openProfileModal('create')" mat-stroked-button matTooltip="Create New Profile">
      <mat-icon class="fill-primary-700 icon-size-4" svgIcon="fa-solid:folder-plus"></mat-icon>
    </a>
    <a class="flex" [disabled]="!currentProfile" (click)="openProfileModal('rename')" mat-stroked-button matTooltip="Rename this Profile">
      <mat-icon class="fill-primary-700 icon-size-4" svgIcon="fa-solid:eraser"></mat-icon>
    </a>
    <a class="flex" [disabled]="!currentProfile" (click)="openDeleteModal()" mat-stroked-button matTooltip="Delete this Profile">
      <mat-icon class="fill-red-700 icon-size-4" svgIcon="fa-solid:x"></mat-icon>
    </a>
    <a
      class="flex"
      [disabled]="!currentProfile"
      (click)="openProfileModal('create', currentProfile.columns)"
      mat-stroked-button
      matTooltip="Copy This Profile"
    >
      <mat-icon class="fill-cyan-600 icon-size-4" svgIcon="fa-solid:copy"></mat-icon>
    </a>
  </div>

  @if (rowData.length) {
    <ag-grid-angular
      class="filter-border"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [theme]="gridTheme$ | async"
      (gridReady)="onGridReady($event)"
      style="width: 100%; height: 100%"
    ></ag-grid-angular>
  }

  <!-- legend -->
  <div class="ml-4 text-sm italic text-gray-500">
    <span class="mr-4"><span class="material-icons align-middle ml-1 text-md text-gray-500">emergency</span>Extra Data Column</span>
    <span><span class="material-icons align-middle ml-1 text-lg text-gray-500">link</span>Derived Column</span>
  </div>
</div>
