<div class="w-110 my-10">
  <div *ngFor="let o of organizations">
    <div *ngIf="o.org_id === user.org_id" class="flex flex-row spacing-1">
      <button mat-button [matMenuTriggerFor]="orgMenu">
        Current Organization: {{o.name}} Access Level: {{o.access_level_names[0]}}
        <mat-icon iconPositionEnd svgIcon="heroicons-outline:chevron-down"></mat-icon>
      </button>
      
    </div>
  </div>
  <mat-menu #orgMenu="matMenu">
    <button *ngFor="let o of organizations" mat-menu-item (click)="selectOrganization(o)">{{o.name}}</button>
</mat-menu>
</div>