<table class="w-full bg-transparent" [dataSource]="rulesDataSource" [trackBy]="trackByFn" mat-table matSort>
  <ng-container matColumnDef="enabled">
    <th *matHeaderCellDef mat-header-cell>Enabled</th>
    <td *matCellDef="let rule; let i = index" mat-cell>
      <mat-slide-toggle [(ngModel)]="currentRules[i].enabled" (click)="toggleEnable(i)"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="field">
    <th *matHeaderCellDef mat-header-cell>Field</th>
    <td class="max-w-50 flex-grow truncate" *matCellDef="let rule; let i = index" mat-cell>
      {{ getFieldName(rule.field) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="criteria">
    <th *matHeaderCellDef mat-header-cell>Criteria</th>
    <td class="max-w-60 flex-grow truncate" *matCellDef="let rule" mat-cell>
      {{ getCriteria(rule) }}
    </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th *matHeaderCellDef mat-header-cell>Severity</th>
    <td class="w-26" *matCellDef="let rule" mat-cell>
      <div class="rounded px-2 py-1" [ngClass]="severityLookup[rule.severity].class">
        {{ severityLookup[rule.severity].name }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="label">
    <th *matHeaderCellDef mat-header-cell>Label</th>
    <td *matCellDef="let rule" mat-cell matTooltip="{{ labelLookup[rule.status_label] ? labelLookup[rule.status_label].name : null }}">
      @if (labelLookup[rule.status_label]) {
        <seed-label [label]="labelLookup[rule.status_label]"></seed-label>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="select-none pr-24 text-right" *matHeaderCellDef mat-header-cell>Actions</th>
    <td class="w-50 text-right" class="whitespace-nowrap text-right" *matCellDef="let rule" mat-cell>
      <a class="mr-2" (click)="editRule(rule)" mat-stroked-button>
        <mat-icon class="icon-size-4" svgIcon="fa-solid:pencil"></mat-icon>
      </a>
      <a (click)="deleteRule(rule)" mat-stroked-button color="warn">
        <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
      </a>
    </td>
  </ng-container>

  <thead>
    <tr *matHeaderRowDef="rulesColumns" mat-header-row></tr>
  </thead>
  <tbody>
    <tr *matRowDef="let row; columns: rulesColumns" mat-row></tr>
  </tbody>
</table>

<mat-paginator [pageSize]="8" [pageSizeOptions]="[8, 25, 100]" showFirstLastButtons></mat-paginator>
