<h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
  Remove Member {{ data.member.email }}?
</h2>

<div class="mb-4 mt-4">
  @if (errorMessage) {
    <seed-alert type="error">{{ errorMessage }}</seed-alert>
  }
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button [disabled]="errorMessage" (click)="onSubmit()" mat-raised-button color="warn">Remove</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
  </mat-dialog-actions>
</div>
