<h2 mat-dialog-title class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">Edit Member</h2>
<form [formGroup]="form" class="flex flex-col gap-4">

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email"/>
    @if (form.get('email')?.hasError('email')) {
      <mat-error>Invalid email format</mat-error>
    }
  </mat-form-field>
  
  <div class="flex">
    <mat-form-field class="mr-1 w-1/2">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name"/>
    </mat-form-field>
    <mat-form-field class="w-1/2">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name"/>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Access Level</mat-label>
    <mat-select formControlName="access_level">
      @for (level of accessLevelNames; track level) {
        <mat-option [value]="level">{{ level }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Access Level Instance</mat-label>
    <mat-select formControlName="access_level_instance_id">
      @for (ali of accessLevelInstances; track ali.id) {
        <mat-option [value]="ali.id">{{ ali.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      @for (role of roles; track role) {
        <mat-option [value]="role">{{ role }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>

<!-- Actions -->
<div class="flex justify-end">
  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-stroked-button (click)="dismiss()">Dismiss</button>
  </mat-dialog-actions>
</div>
