<h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
  Reset all member passwords?
</h2>

<div class="m-10">Are you sure? This will sign you out of SEED.</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button color="warn">Reset</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
  </mat-dialog-actions>
</div>
