<!-- Title -->
<div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">Sign in</div>
@if (allowSignUp) {
  <div class="mt-0.5 flex items-baseline font-medium">
    <div>Don't have an account?</div>
    <a class="ml-1 text-primary-500 hover:underline focus:underline" [routerLink]="['/sign-up']">Sign up</a>
  </div>
}

<!-- Alert -->
@if (showAlert) {
  <seed-alert class="-mb-4 mt-8" [@shake]="alert.type === 'error'" [showIcon]="false" [type]="alert.type" appearance="outline">
    {{ alert.message }}
  </seed-alert>
}

<!-- Sign in form -->
<form class="mt-8" [formGroup]="signInForm">
  <!-- Email field -->
  <mat-form-field class="w-full">
    <mat-label>Email address</mat-label>
    <input class="text-lg sm:text-base" id="email" matInput type="email" autocomplete="email" maxlength="254" formControlName="email" />
    @if (signInForm.get('email').hasError('required')) {
      <mat-error>Email address is required</mat-error>
    } @else if (signInForm.get('email').hasError('email')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
  </mat-form-field>

  <!-- Password field -->
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input
      class="text-lg sm:text-base"
      id="password"
      #passwordField
      matInput
      type="password"
      autocomplete="current-password"
      formControlName="password"
    />
    <button
      (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
      mat-icon-button
      type="button"
      matSuffix
    >
      @if (passwordField.type === 'password') {
        <mat-icon class="icon-size-5" svgIcon="fa-solid:eye-slash"></mat-icon>
      } @else if (passwordField.type === 'text') {
        <mat-icon class="icon-size-5" svgIcon="fa-solid:eye"></mat-icon>
      }
    </button>
    <mat-error>Password is required</mat-error>
  </mat-form-field>

  <!-- Actions -->
  <div class="mt-1.5 inline-flex w-full items-center justify-end">
    <a class="text-md font-medium text-primary-500 hover:underline focus:underline" [routerLink]="['/forgot-password']">Forgot password?</a>
  </div>

  <div class="mt-1.5 flex w-full flex-col">
    <mat-checkbox
      class="-ml-2"
      #termsCheckbox
      [class.mb-5]="!isTermsInvalid"
      (keydown.enter)="termsCheckbox.toggle(); $event.preventDefault()"
      color="primary"
      formControlName="terms"
    >
      <span>I agree with the</span>
      <a
        class="ml-1 cursor-pointer text-primary-500 hover:underline focus:underline"
        (click)="$event.preventDefault(); showTermsOfService()"
        >NREL Data Terms</a
      >
    </mat-checkbox>
    @if (isTermsInvalid) {
      <mat-error class="h-5 text-sm font-medium" @fadeInTop>You must accept the NREL Data Terms.</mat-error>
    }
  </div>

  <!-- Submit button -->
  <button class="seed-mat-button-large mt-6 w-full" [disabled]="signInForm.disabled" (click)="signIn()" mat-flat-button color="primary">
    @if (!signInForm.disabled) {
      <span>Sign in</span>
    } @else {
      <mat-progress-spinner [diameter]="24" mode="indeterminate"></mat-progress-spinner>
    }
  </button>
</form>
