<!-- Title -->
<div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">Sign in</div>
<div class="mt-0.5 flex items-baseline font-medium">
  <div>Don't have an account?</div>
  <a class="ml-1 text-primary-500 hover:underline focus:underline" [routerLink]="['/sign-up']">Sign up</a>
</div>

<!-- Alert -->
@if (showAlert) {
  <seed-alert class="-mb-4 mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type" [@shake]="alert.type === 'error'">
    {{ alert.message }}
  </seed-alert>
}

<!-- Sign in form -->
<form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
  <!-- Email field -->
  <mat-form-field class="w-full">
    <mat-label>Email address</mat-label>
    <input id="email" matInput [formControlName]="'email'" />
    @if (signInForm.get('email').hasError('required')) {
      <mat-error>Email address is required</mat-error>
    }
    @if (signInForm.get('email').hasError('email')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
  </mat-form-field>

  <!-- Password field -->
  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
    <button
      mat-icon-button
      type="button"
      (click)="passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')"
      matSuffix
    >
      @if (passwordField.type === 'password') {
        <mat-icon class="icon-size-5" [svgIcon]="'fa-solid:eye-slash'"></mat-icon>
      } @else if (passwordField.type === 'text') {
        <mat-icon class="icon-size-5" [svgIcon]="'fa-solid:eye'"></mat-icon>
      }
    </button>
    <mat-error>Password is required</mat-error>
  </mat-form-field>

  <!-- Actions -->
  <div class="mt-1.5 inline-flex w-full items-center justify-end">
    <a class="text-md font-medium text-primary-500 hover:underline focus:underline" [routerLink]="['/forgot-password']">Forgot password?</a>
  </div>

  <div class="mt-1.5 flex w-full flex-col">
    <mat-checkbox class="-ml-2" [class.mb-5]="!isTermsInvalid" [color]="'primary'" [formControlName]="'terms'">
      <span>I agree with the</span>
      <a
        class="ml-1 cursor-pointer text-primary-500 hover:underline focus:underline"
        (click)="$event.preventDefault(); showTermsOfService()"
        >NREL Data Terms</a
      >
    </mat-checkbox>
    @if (isTermsInvalid) {
      <mat-error @fadeInTop class="h-5 text-sm font-medium">You must accept the NREL Data Terms.</mat-error>
    }
  </div>

  <!-- Submit button -->
  <button class="seed-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'" [disabled]="signInForm.disabled" (click)="signIn()">
    @if (!signInForm.disabled) {
      <span>Sign in</span>
    } @else {
      <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
    }
  </button>
</form>
