<seed-page 
  [config]="{
    title: 'Properties',
    titleIcon: 'fa-solid:building'
  }"
>
</seed-page>

<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <!-- Header -->
  <div class="bg-card">
    <div class="mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
      <!-- Tabs -->
      <seed-page-inventory-tab [config]="{ tabs, action: toggleInventoryType.bind(this) }"></seed-page-inventory-tab>
    </div>
  </div>

  <!-- Main -->
  <div class="z-1 -mt-px flex-auto border-t pt-4 sm:pt-6">
    <!-- config -->
    <!-- <mat-expansion-panel> -->
      <div class="flex m-2">

        <mat-form-field class="mr-1 w-60">
          <mat-label>Cycle</mat-label>
          <mat-select [(value)]="cycleId" (selectionChange)="onCycleChange($event.value)">
            @for (item of cycles; track item) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mr-1">
          <mat-label>Profile</mat-label>
          <mat-select [(value)]="profileId" (selectionChange)="onProfileChange($event.value)">
            @for (item of propertyProfiles; track item) {
            <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </div>
      <!-- INVENTORY GRID -->
      <seed-inventory-grid
        [columnDefs]="columnDefs"
        [pagination]="pagination"
        [rowData]="rowData"
        [labelLookup]="labelLookup"
        (pageChange)="onPageChange($event)"
      ></seed-inventory-grid>

  </div>

</div>
