<h2 mat-dialog-title class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">
  Apply Action to Selection ({{ data.viewIds.length }})
</h2>
<!-- <div class="italic text-sm text-gray-500 ml-10">
  * Some actions require a selection. Make a selection and try again.
</div> -->

<div class="mb-4 mt-4 flex justify-evenly">
  <ul>
    @for (item of actionsColumn1; track $index) {
      <li>
        <button
          mat-button
          class="cursor-pointer transition-colors hover:text-blue-700 dark:hover:text-blue-500"
          [disabled]="item.disabled"
          (click)="item.action()"
        >
          {{ item.name }}
        </button>
      </li>
    }
  </ul>
  <ul>
    @for (item of actionsColumn2; track $index) {
      <li>
        <button
          mat-button
          class="cursor-pointer transition-colors hover:text-blue-700 dark:hover:text-blue-500"
          [disabled]="item.disabled"
          (click)="item.action()"
        >
          {{ item.name }}
        </button>
      </li>
    }
  </ul>
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button mat-stroked-button (click)="dismiss()">Dismiss</button>
  </mat-dialog-actions>
</div>
