<h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
  Apply Action to Selection ({{ data.viewIds.length }})
</h2>

<div class="mb-4 mt-4 flex justify-evenly">
  <ul>
    @for (item of actionsColumn1; track $index) {
      <li>
        <button
          class="cursor-pointer transition-colors hover:text-blue-700 dark:hover:text-blue-500"
          [disabled]="item.disabled"
          (click)="item.action()"
          mat-button
        >
          {{ item.name }}
        </button>
      </li>
    }
  </ul>
  <ul>
    @for (item of actionsColumn2; track $index) {
      <li>
        <button
          class="cursor-pointer transition-colors hover:text-blue-700 dark:hover:text-blue-500"
          [disabled]="item.disabled"
          (click)="item.action()"
          mat-button
        >
          {{ item.name }}
        </button>
      </li>
    }
  </ul>
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
  </mat-dialog-actions>
</div>
