<!-- header -->
<div class="flex gap-4 ml-4 mt-4" mat-dialog-title>
  <mat-icon class="text-current icon-size-5" svgIcon="fa-solid:pen-to-square"></mat-icon>
  <div class="text-2xl font-medium leading-6">
    {{ data.profile ? 'Only Show Populated Columns?' : 'Create Column List Profile?' }}
  </div>
</div>
<mat-divider></mat-divider>

<!-- content -->
@if (inProgress) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
 @if (data.profile) {
  <div class="m-4 flex justify-evenly">
    This will reset your visible columns and column order to show only columns that contain data. Are you sure you want to
    continue?
  </div>
 } @else {
    <div class="m-4">
      <form class="flex flex-col gap-4" [formGroup]="form">
        <mat-form-field class="w-full">
          <mat-label>Profile Name</mat-label>
          <input matInput formControlName="name" placeholder="Profile Name" />
        </mat-form-field>
      </form>
    </div>
 }

 <mat-divider></mat-divider>
 @if (data.profile) {
  <div class="flex justify-end">
    <mat-dialog-actions>
      <button (click)="onStart()" mat-stroked-button>Start</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
    </mat-dialog-actions>
  </div>
 } @else {
  <div class="flex justify-end">
    <mat-dialog-actions>
      <button [disabled]="form.invalid" (click)="onCreate()" mat-stroked-button>Create</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
    </mat-dialog-actions>
  </div>
 }
