@if (data.profile) {
  <h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
    Only Show Populated Columns
  </h2>

  <div class="mb-4 mt-4 flex justify-evenly">
    This will reset your visible columns and column order to show only columns that contain data. Are you sure you want to continue?
  </div>

  <div class="flex justify-end">
    <mat-dialog-actions>
      <button (click)="onStart()" mat-stroked-button>Start</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
    </mat-dialog-actions>
  </div>
} @else {
  <h2 class="text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl" mat-dialog-title>
    Create Column List Profile
  </h2>

  <div class="mb-4 mt-4">
    <form class="flex flex-col gap-4" [formGroup]="form">
      <mat-form-field class="w-full">
        <mat-label>Profile Name</mat-label>
        <input matInput formControlName="name" placeholder="Profile Name" />
      </mat-form-field>
    </form>
  </div>

  <div class="flex justify-end">
    <mat-dialog-actions>
      <button [disabled]="form.invalid" (click)="onCreate()" mat-stroked-button>Create</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
      <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
    </mat-dialog-actions>
  </div>
}
