<seed-page
  [config]="{
    title: 'Property',
    subTitle: viewDisplayField$ | async,
    titleIcon: 'fa-solid:chart-simple',
    breadcrumbs: ['Property', 'Analyses'],
    sideNavToggle: true,
    action: createAnalysis,
    actionIcon: 'fa-solid:plus',
    actionText: 'Create Analysis',
  }"
>
  <div class="h-full-page-tabs p-5" id="content" #parentDiv>
    @if (analyses.length) {
      <seed-analyses-grid
        [analyses]="analyses"
        [cycles]="cycles"
        [parentRef]="parentDiv"
        [orgId]="orgId"
        [highlights]="true"
      ></seed-analyses-grid>
    } @else {
      <seed-not-found message="No Analyses Found" icon="fa-solid:triangle-exclamation"></seed-not-found>
    }
  </div>
</seed-page>
