<seed-page [config]="{
  title: 'Property',
  subTitle: viewDisplayField$ | async,
  titleIcon: 'fa-solid:chart-simple',
  breadcrumbs: ['Property', 'Analyses'],
  sideNavToggle: true,
  action: createAnalysis,
  actionIcon: 'fa-solid:plus',
  actionText: 'Create Analysis',
}">

<div class="mx-auto mt-20 flex w-1/2 justify-center space-x-2 rounded-xl border bg-white p-10 dark:bg-gray-800">
  <mat-icon class="text-primary-600" svgIcon="fa-solid:triangle-exclamation"></mat-icon>
  <div class="text-secondary text-xl font-medium">Analyses in development...</div>
</div>
</seed-page>