<seed-page
  [config]="{
    title: pageTitle,
    titleIcon: 'fa-solid:building',
    tabs: ['properties', 'taxlots'],
  }"
>
</seed-page>

<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <!-- Main -->
  <div class="z-1 -mt-px flex-auto border-t pt-2">
    <!-- GRID CONFIG -->
    <div class="m-2 flex">
      <!-- Actions -->
      <seed-inventory-grid-actions
        [cycleId]="cycleId"
        [gridApi]="gridApi"
        [inventory]="inventory"
        [orgId]="orgId"
        [profile]="profile"
        [profiles]="profiles"
        [selectedStateIds]="selectedStateIds"
        [selectedViewIds]="selectedViewIds"
        [type]="type"
        (refreshInventory)="refreshInventory$.next()"
        (selectedAll)="onSelectAll($event)"
      ></seed-inventory-grid-actions>

      <!-- Cycles -->
      <seed-inventory-grid-config-selector [items]="cycles" [selectedId]="cycleId" (selectionChange)="onCycleChange($event)" label="Cycle">
      </seed-inventory-grid-config-selector>

      <!-- Profiles -->
      <seed-inventory-grid-config-selector
        [items]="profiles"
        [selectedId]="profileId"
        (selectionChange)="onProfileChange($event)"
        label="Profile"
      >
      </seed-inventory-grid-config-selector>
    </div>

    <!-- Filter and Sort chips -->
    @if (gridApi && columnDefs) {
      <seed-inventory-filter-sort-chips
        [columns]="columns"
        [columnDefs]="columnDefs"
        [gridApi]="gridApi"
        [type]="type"
        [userSettings]="userSettings"
      ></seed-inventory-filter-sort-chips>
    }

    <!-- INVENTORY GRID -->
    <seed-inventory-grid
      #grid
      [columnDefs]="columnDefs"
      [currentUser]="currentUser"
      [inventoryType]="type"
      [labelMap]="labelMap"
      [orgId]="orgId"
      [orgUserId]="orgUserId"
      [pagination]="pagination"
      [rowData]="rowData"
      [selectedViewIds]="selectedViewIds"
      [type]="type"
      [userSettings]="userSettings"
      (pageChange)="onPageChange($event)"
      (filterSortChange)="onFilterSortChange($event)"
      (gridReady)="onGridReady($event)"
      (selectionChanged)="onSelectionChanged()"
    ></seed-inventory-grid>
  </div>
</div>
