<div class="prose px-4" *transloco="let t">
  <h2 class="mt-6 flex items-center border-b-2 font-extrabold tracking-tight">
    {{ t('Help') }}<mat-icon class="mx-2 text-current icon-size-3" svgIcon="fa-solid:chevron-right"></mat-icon>{{ t('MODIFYING_COLUMN_SETTINGS') }}
  </h2>
  <p>{{ t('MULTIPLE_COL_MOD_OPTIONS') }}</p>
  <h3 class="mt-4">
    {{ t('Display Name') }}
  </h3>
  <p>{{ t('COL_CHANGE_DISPLAY') }}</p>
  <h3 class="mt-4">
    {{ t('Column Name') }}
  </h3>
  <p>{{ t('COL_CHANGE_NAME') }}</p>
  <h3 class="mt-4">
    {{ t('Column Description') }}
  </h3>
  <p>{{ t('COL_CHANGE_DESCRIPTION') }}</p>
  <h3 class="mt-4">
    Rename
  </h3>
  <p>{{ t('RENAME_SYS_LEVEL_COL') }}</p>
  <h3 class="mt-4">
    Rename
  </h3>
  <p>{{ t('Permanently delete extra_data columns and all associated data') }}</p>
</div>
