<div class="mb-5 flex flex-col gap-4">
  <div class="ml-4 flex text-lg font-medium">
    <mat-icon svgIcon="fa-solid:bolt"></mat-icon>
    <mat-icon svgIcon="fa-solid:fire-flame-curved"></mat-icon>
    <span class="ml-4">Scenarios & Measures</span>
  </div>

  @for (entry of rowDataEntries; track $index) {
    <div class="text-secondary ml-1">{{ entry.date }}</div>
    <ag-grid-angular
      [columnDefs]="columnDefs"
      [detailRowHeight]="150"
      [rowData]="entry.rowData"
      [theme]="gridTheme$ | async"
      [style.height.px]="getGridHeight(entry.rowData)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  }
</div>
