<seed-page [config]="{ title: 'Data Quality', action: resetRules, actionIcon: 'fa-solid:rotate-left', actionText: 'Reset All Rules' }" *transloco="let t">
  <seed-page-inventory-tab [config]="{ tabs, action: toggleInventoryType.bind(this) }"></seed-page-inventory-tab>
  <seed-page-inventory-table-container>
    <form (ngSubmit)="onSubmit()">
      <div class="flex justify-end mb-4">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
      </div>

        <table 
          class="mat-elevation-z8 w-full bg-transparent vertical-stripe" 
          mat-table
          matSort
          [dataSource]="ruleDataSource"
          [trackBy]="trackByFn"
        >
        
          <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef>Enabled</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              <mat-slide-toggle formControlName="enabled"></mat-slide-toggle>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="condition">
            <th mat-header-cell class="min-w-50" *matHeaderCellDef>Condition</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              <mat-select formControlName="condition">
                @for (item of conditions; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </td>
          </ng-container>
  
  
          <ng-container matColumnDef="field">
            <th mat-header-cell *matHeaderCellDef>Field</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              <mat-select formControlName="field">
                @for (item of fields; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="data_type">
            <th mat-header-cell class="min-w-40" *matHeaderCellDef>Data Type</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)" >
              <mat-select formControlName="data_type">
                @for (item of dataTypes; track item) {
                  <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef>Min</th>
            <td mat-cell *matCellDef="let rule; let i = index" 
            [formGroup]="getFormGroup(i)"
            >
              @if (isTextMatch(i)) {
                  <input matInput class="p-2 border rounded w-full" formControlName="text_match" [placeholder]="getPlaceholderText(i)" />
              }
              @else if (!isText(i)) {
              <input matInput formControlName="min" class="p-2 border rounded"/>
              }
            </td>
          </ng-container>
          
          <ng-container matColumnDef="max">
            <th mat-header-cell *matHeaderCellDef>Max</th>
              <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
                @if (!isText(i)) {
                <input matInput formControlName="max" class="p-2 border rounded" />
                }
              </td> 
          </ng-container>
          
          <ng-container matColumnDef="units">
            <th mat-header-cell class="min-w-50" *matHeaderCellDef>Units</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              @if (isRange(i)) {
              <mat-select formControlName="units">
                @for (item of units; track item) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            }
            </td>
          </ng-container>
          
          <ng-container matColumnDef="severity">
            <th mat-header-cell class="min-w-50" *matHeaderCellDef>Severity</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)" 
              
            >
              <mat-select formControlName="severity" [ngClass]="getSeverityClass(i)">
                @for (item of severity; track item) {
                <mat-option [value]="item.key">{{ item.value }}</mat-option>
                }
              </mat-select>
            </td>
          </ng-container>
          
          <ng-container matColumnDef="status_label">
            <th mat-header-cell *matHeaderCellDef>Label</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              {{ rule.status_label }}</td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="select-none">Actions</th>
            <td mat-cell *matCellDef="let rule; let i = index" [formGroup]="getFormGroup(i)">
              <a mat-stroked-button color="warn" (click)="deleteRule(rule)">
                <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="ruleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: ruleColumns"></tr>
  
        </table>

      <div class="mb-4 p-4 border-b border-t border-gray-200">
        break 
      </div>

      <!-- <table class="mat-elevation-z8 w-full bg-transparent vertical-stripe" mat-table matSort [dataSource]="ruleDataSource"
        [trackBy]="trackByFn">
  
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef>Enabled</th>
          <td mat-cell *matCellDef="let rule">
            <mat-checkbox [(ngModel)]="rule.enabled" name="enabled-{{rule.id}}"></mat-checkbox>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="condition">
          <th mat-header-cell *matHeaderCellDef>Condition</th>
          <td mat-cell class="min-w-44" *matCellDef="let rule">
            <mat-select [(value)]="rule.condition">
              @for (condition of conditions; track condition) {
                <mat-option [value]="condition.key">{{ condition.value }}</mat-option>
              }
            </mat-select>  
          </td>
        </ng-container>
  
        <ng-container matColumnDef="field">
          <th mat-header-cell *matHeaderCellDef>Field</th>
          <td mat-cell *matCellDef="let rule">{{ rule.field }}</td>
        </ng-container>
  
        <ng-container matColumnDef="data_type">
          <th mat-header-cell *matHeaderCellDef>Data Type</th>
          <td mat-cell *matCellDef="let rule">{{ rule.data_type }}</td>
        </ng-container>
  
        <ng-container matColumnDef="min">
          <th mat-header-cell *matHeaderCellDef>Min</th>
          <td mat-cell *matCellDef="let rule">{{ rule.min }}</td>
        </ng-container>
  
        <ng-container matColumnDef="max">
          <th mat-header-cell *matHeaderCellDef>Max</th>
          <td mat-cell *matCellDef="let rule">{{ rule.max }}</td>
        </ng-container>
  
        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef>Units</th>
          <td mat-cell *matCellDef="let rule">{{ rule.units }}</td>
        </ng-container>
  
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef>Severity</th>
          <td mat-cell *matCellDef="let rule">{{ rule.severity }}</td>
        </ng-container>
  
        <ng-container matColumnDef="status_label">
          <th mat-header-cell *matHeaderCellDef>Label</th>
          <td mat-cell *matCellDef="let rule">{{ rule.status_label }}</td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="select-none">Actions</th>
          <td mat-cell *matCellDef="let rule">
            <a mat-stroked-button color="warn" (click)="deleteRule(rule)">
              <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
            </a>
          </td>
        </ng-container>
  
  
        <thead>
          <tr mat-header-row *matHeaderRowDef="ruleColumns"></tr>
        </thead>
        <tbody>
          <tr mat-row *matRowDef="let row; columns: ruleColumns"></tr>
        </tbody>
  
      </table> -->

    </form>

  </seed-page-inventory-table-container>
</seed-page>
