<seed-page
  [config]="{
    title: 'Data Quality', 
    action: resetRules, 
    actionIcon: 'fa-solid:rotate-left', 
    actionText: 'Reset All Rules',
    action2: createRule,
    action2Icon: 'fa-solid:plus',
    action2Text: 'Create Rule',
  }"
  *transloco="let t">
  <seed-page-inventory-tab [config]="{ tabs, action: toggleInventoryType.bind(this) }"></seed-page-inventory-tab>
  <seed-page-table-container>
    <seed-data-quality-inventory-table
      [currentRules]="currentRules"
      (getRules)="getRules()"
    ></seed-data-quality-inventory-table>
  </seed-page-table-container>

</seed-page>