<seed-inventory-grid-controls
  [pagination]="pagination"
  [resetColumns]="resetColumns"
  (pageChange)="onPageChange($event)"
>
</seed-inventory-grid-controls>

<ag-grid-angular
  class="w-full h-[calc(100%-150px)]"
  style="width: 100%; height: 100%;"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  [paginationPageSize]="agPageSize"
  [rowData]="rowData"
  (filterChanged)="onFilterChange()"
  (sortChanged)="onSortChange()"
  [theme]="gridTheme"
/>