// $warningBackground: #fcf8e3;
// $errorBackground: #f2dede;
// $successBackground: #dff0d8;
// $infoBackground: #d9edf7;
$cellBackground: #f2f2f2;


.even-card {
  background-color: var(--header-row-bg);
}

// .dynamic-grid {
//   padding-bottom: 10px;
// }

// mat-grid-tile {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: stretch; /* Ensure content stretches to fit the width */
//   height: auto; /* Allow the tile to grow based on content */
//   overflow: hidden; /* Prevent content from spilling out */
//   padding: 8px; /* Add padding for better spacing */
//   box-sizing: border-box; /* Include padding in the height/width calculations */
// }

// .tile-content {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;
//   width: 100%; /* Ensure the content takes up the full width */
//   height: auto; /* Allow the content to grow dynamically */
//   overflow: visible; /* Ensure content is not clipped */
// }

.header-row {
  font-weight: bold;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: var(--header-row-bg);
}

.alt-row {
  background-color: var(--header-row-bg);
}

.pad-row {
  padding-left:10px !important;
}

/* ANALYSIS STATUS COLORS */

.analysis-status {
  font-weight: 600;
  &.creating,
  &.warning {
    /* color: $warningBackground !important; */
    color: var(--warning-text-color);
  }

  &.stopped,
  &.failed,
  &.error {
    /* color: $errorBackground !important; */
    color: var(--error-text-color);
  }

  &.ready,
  &.completed,
  &.success {
   /* color: $success !important; */
    color: var(--success-text-color);
  }

  &.queued,
  &.running,
  &.info {
    /* color: $infoBackground !important; */
    color: var(--info-text-color);
  }
}

.mat-cell, .mat-mdc-cell {
  padding-top:10px;
  padding-bottom:10px;
}

.mat-mdc-header-row {
  background-color: var(--header-row-bg);
}

// #analysis-table .mat-mdc-row:hover, #analysis-table .mat-row:hover, #analysis-table tr:hover, #analysis-table td:hover {
//   background-color: transparent !important;
// }
// tr.mat-mdc-row:hover, #analysis-table tr.mat-mdc-row:hover {
//   background-color: transparent !important;
// }
// .mat-mdc-row:hover .mat-mdc-cell {
//   background: unset!important;
// }

mat-icon.small-icon {
  width: 16px !important;
  height: 16px;
  font-size: 16px;
}

.small-icon {
  width: 16px !important;
  height: 16px;
  font-size: 16px;
}

.mat-column-property {
  min-width: 300px;
}

.mat-column-outputs {
  min-width: 250px;
}

.mat-column-messages {
  max-width: 700px; /* Adjust as needed */
  white-space: wrap;
}
