<seed-page [config]="{ 
    title: 'Analyses', 
    titleIcon: 'fa-solid:chart-bar' 
  }">
  <div class="h-full-page p-5" id="content">
    @if (analyses.length) {
    <div>
      <ag-grid-angular
        [columnDefs]="columnDefs"
        [rowData]="analyses"
        [theme]="gridTheme$ | async"
        [style.height.px]="gridHeight" 
        (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
    } @else {
    <div class="mx-auto mt-20 flex w-1/2 justify-center space-x-2 rounded-xl border bg-white p-10 dark:bg-gray-800">
      <mat-icon class="text-primary-600" svgIcon="fa-solid:triangle-exclamation"></mat-icon>
      <div class="text-secondary text-xl font-medium">No Analyses Found</div>
    </div>
    }

  </div>
</seed-page>