<seed-page
  [config]="{
    title: 'Data',
    titleIcon: 'fa-solid:sitemap',
    action: createDataset,
    actionIcon: 'fa-solid:plus',
    actionText: 'Create Dataset',
  }"
>
<div class="h-full-page" id="content">
  @if (datasets.length) {
    <ag-grid-angular
      [columnDefs]="columnDefs"
      [rowData]="datasets"
      [theme]="gridTheme$ | async"
      [domLayout]="'autoHeight'"
      [pagination]="true"
      [paginationPageSize]="10"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  }
</div>
  <!-- Main -->
  <!-- <div class="flex-auto pt-4 sm:pt-6">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4">
          <div class="mx-6 overflow-x-auto">
            <table class="w-full bg-transparent" [dataSource]="datasetsDataSource" [trackBy]="trackByFn" mat-table matSort>
              <ng-container matColumnDef="name">
                <th class="select-none" *matHeaderCellDef mat-header-cell mat-sort-header>Dataset</th>
                <td *matCellDef="let dataset" mat-cell>
                  <span class="whitespace-nowrap pr-6">
                    {{ dataset.name }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="importfiles">
                <th class="select-none" *matHeaderCellDef mat-header-cell mat-sort-header>Files</th>
                <td *matCellDef="let dataset" mat-cell>
                  <span class="whitespace-nowrap pr-6">
                    {{ dataset.importfiles.length }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="updated_at">
                <th class="select-none whitespace-nowrap" *matHeaderCellDef mat-header-cell mat-sort-header>Last Changed</th>
                <td *matCellDef="let dataset" mat-cell>
                  <span class="whitespace-nowrap pr-6">
                    {{ dataset.updated_at | date: 'MMM dd, y' }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="last_modified_by">
                <th class="select-none" *matHeaderCellDef mat-header-cell mat-sort-header>Changed By</th>
                <td *matCellDef="let dataset" mat-cell>
                  <span class="whitespace-nowrap pr-6 font-medium">
                    {{ dataset.last_modified_by }}
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th class="select-none" *matHeaderCellDef mat-header-cell>Actions</th>
                <td *matCellDef="let transaction" mat-cell>
                  <span class="whitespace-nowrap pr-6 font-medium">Actions here</span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="datasetsColumns" mat-header-row></tr>
              <tr class="order-row h-16" *matRowDef="let row; columns: datasetsColumns" mat-row></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- </div> -->
</seed-page>
