<div class="flex flex-col gap-4 mb-5">

  <div class="flex justify-between">
    <div class="text-lg font-medium ml-4 flex items-center">
    <mat-icon svgIcon="fa-solid:layer-group"></mat-icon>
    <span class="ml-4">History</span>
    </div>
    <button mat-stroked-button (click)="editMain()">
      <mat-icon svgIcon="fa-solid:pencil" class="scale-75"></mat-icon>
      <span class="ml-2 text-sm">Edit</span>
    </button>
  </div>

  <ag-grid-angular 
    style="width: 100%; height: 100%"
    [defaultColDef]="defaultColDef"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [style.height.px]="gridHeight"
    [theme]="gridTheme$ | async" 
    (gridReady)="onGridReady($event)" 
  />
 
  <span class="text-xs italic text-gray-500 ml-4">
    <span class="material-icons text-md text-gray-500 align-middle ml-1">link</span>
    indicates a Derived Column
  </span>
</div>

