<div class="flex flex-auto flex-col items-center p-8 pb-0 sm:flex-row sm:items-start">

  <div
    class="flex h-10 w-10 flex-0 items-center justify-center rounded-full bg-primary-100 text-primary-600 sm:mr-4 dark:bg-primary-600 dark:text-primary-50">
    <mat-icon class="text-current icon-size-5" svgIcon="fa-solid:arrow-up-from-bracket"></mat-icon>
  </div>

  <div class="mt-4 flex w-full flex-col items-center space-y-3 text-left sm:mt-0 sm:items-start sm:pr-8">
    <div class="text-xl font-medium leading-6">Upload an Inventory Document</div>
  </div>
    
</div>

<div class="m-10">
  
  <div class="text-secondary mb-4">
    Accepted File Types: .dxf, .pdf, .idf, & .osm
  </div>
  
  <div class="flex w-full items-center rounded-full border border-gray-300 dark:border-gray-600">
  
    <input 
      class="pointer-events-none invisible absolute h-0 w-0 opacity-0"
      id="file-input"
      #fileInput
      [multiple]="false"
      [accept]="allowedTypes"
      (change)="onSelectFile(fileInput.files)"
      type="file"
    />
  
    <button class="flex items-center gap-x-2" (click)="fileInput.click()" mat-flat-button
      color="primary">
      <mat-icon class="text-white icon-size-5" svgIcon="fa-solid:file"></mat-icon>
      <span>Choose file</span>
    </button>
    <div class="text-secondary max-w-[21rem] cursor-default items-center truncate pl-3 pr-2">
      {{ file?.name ?? 'No file selected' }}
    </div>
  </div>
</div>

<div class="flex justify-end">
  <mat-dialog-actions>
    <button (click)="onUpload()" mat-raised-button color="primary" [disabled]="!file">Upload</button>
  </mat-dialog-actions>
  <mat-dialog-actions>
    <button (click)="dismiss()" mat-stroked-button>Dismiss</button>
  </mat-dialog-actions>

</div>