<div class="flex min-w-0 flex-auto flex-col" *transloco="let t">
  <div
    class="bg-card flex flex-0 flex-col border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent"
  >
    <div class="min-w-0 flex-1">
      <h2 class="truncate text-3xl font-extrabold capitalize leading-7 tracking-tight sm:leading-10 md:text-4xl">Cycles</h2>
    </div>
    <!-- Actions -->
    <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
      <a mat-flat-button color="primary" (click)="createCycle()">
        <mat-icon class="icon-size-4" svgIcon="fa-solid:plus"></mat-icon>
        <span class="ml-2">Create cycle</span>
      </a>
    </div>
  </div>

  <!-- Cycles Table -->
  <div class="flex-auto pt-4 sm:pt-6">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
        <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4">
          <div class="mx-6 overflow-x-auto">
            <table class="mat-elevation-z8 w-full bg-transparent" mat-table matSort [dataSource]="cyclesDataSource" [trackBy]="trackByFn">
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let cycle">{{ cycle.id }}</td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let cycle">{{ cycle.name }}</td>
              </ng-container>

              <ng-container matColumnDef="start">
                <th mat-header-cell *matHeaderCellDef>From Date</th>
                <td mat-cell *matCellDef="let cycle">{{ cycle.start }}</td>
              </ng-container>

              <ng-container matColumnDef="end">
                <th mat-header-cell *matHeaderCellDef>To Date</th>
                <td mat-cell *matCellDef="let cycle">{{ cycle.end }}</td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="select-none">Actions</th>
                <td mat-cell *matCellDef="let cycle">
                  <a mat-stroked-button (click)="editCycle(cycle)" class="mr-2">
                    <mat-icon class="icon-size-4" svgIcon="fa-solid:pencil"></mat-icon>
                  </a>
                  <a mat-stroked-button color="warn" (click)="deleteCycle(cycle)">
                    <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
                  </a>
                </td>
              </ng-container>

              <thead>
                <tr mat-header-row *matHeaderRowDef="cyclesColumns"></tr>
              </thead>
              <tbody>
                <tr mat-row *matRowDef="let row; columns: cyclesColumns"></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
