<seed-page
  [config]="{
    title: 'Cycles',
    titleIcon: 'fa-solid:calendar-days',
    action: createCycle,
    actionIcon: 'fa-solid:plus',
    actionText: 'Create Cycle',
  }"
  title="Cycles"
>
  <!-- Cycles Table -->
  <seed-page-table-container>
    <table class="mat-elevation-z8 w-full bg-transparent" [dataSource]="cyclesDataSource" [trackBy]="trackByFn" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell>ID</th>
        <td *matCellDef="let cycle" mat-cell>{{ cycle.id }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let cycle" mat-cell>{{ cycle.name }}</td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th *matHeaderCellDef mat-header-cell>Start Date</th>
        <td *matCellDef="let cycle" mat-cell>{{ cycle.start }}</td>
      </ng-container>

      <ng-container matColumnDef="end">
        <th *matHeaderCellDef mat-header-cell>End Date</th>
        <td *matCellDef="let cycle" mat-cell>{{ cycle.end }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="select-none pr-24 text-right" *matHeaderCellDef mat-header-cell>Actions</th>
        <td class="w-50 text-right" *matCellDef="let cycle" mat-cell>
          <a class="mr-2" (click)="editCycle(cycle)" mat-stroked-button>
            <mat-icon class="icon-size-4" svgIcon="fa-solid:pencil"></mat-icon>
          </a>
          <a (click)="deleteCycle(cycle)" mat-stroked-button color="warn">
            <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
          </a>
        </td>
      </ng-container>

      <thead>
        <tr *matHeaderRowDef="cyclesColumns" mat-header-row></tr>
      </thead>
      <tbody>
        <tr *matRowDef="let row; columns: cyclesColumns" mat-row></tr>
      </tbody>
    </table>
  </seed-page-table-container>
</seed-page>
