<div class="prose px-4" *transloco="let t">
  <h2 class="mt-6 flex items-center border-b-2 font-extrabold tracking-tight">
    {{ t('Help') }}<mat-icon class="mx-2 text-current icon-size-3" svgIcon="fa-solid:chevron-right"></mat-icon
    >{{ t('MODIFYING_COLUMN_SETTINGS') }}
  </h2>
  <h3 class="mt-4">
    {{ t('Exclude From Uniqueness') }}
  </h3>
  <p>{{ t('COL_EXCLUDE_FROM_HASH') }}</p>
  <h3 class="mt-4">
    {{ t('Recognize Empty') }}
  </h3>
  <p>{{ t('RECOGNIZE_EMPTY_EXPLANATION') }}</p>
  <h3 class="mt-4">
    {{ t('Merge Protection') }}
  </h3>
  <p>{{ t('MERGE_PROTECTION_EXPLANATION') }}</p>
</div>
