<div>
  <div class="flex justify-center">
    <div class="prose">
      <h2 class="ml-3 mt-3">{{ organization.name }}</h2>
    </div>
  </div>

  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of links; track link) {
      <a mat-tab-link (click)="activeLink = link" [routerLink]="link.path" [active]="activeLink === link">{{ link.title }}</a>
    }
  </nav>

  <div mat-tab-nav-panel #tabPanel class="prose">
    <div id="header-content">
      <h2 class="ml-3 mt-3">
        <mat-icon class="icon-size-5" [svgIcon]="activeLink.icon"></mat-icon>
        {{ activeLink.title }}
      </h2>
    </div>
    <div id="body-content" class="m-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
