<seed-page [config]="{ title: 'Members', titleIcon: 'fa-solid:users' }">
  <!-- Members table -->
  <seed-page-table-container>
    <table class="mat-elevation-z8 w-full bg-transparent" [dataSource]="membersDataSource" [trackBy]="trackByFn" mat-table matSort>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Member Name</th>
        <td *matCellDef="let member" mat-cell>{{ member.first_name }} {{ member.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th *matHeaderCellDef mat-header-cell>Email</th>
        <td *matCellDef="let member" mat-cell>{{ member.email }}</td>
      </ng-container>

      <ng-container matColumnDef="access level">
        <th *matHeaderCellDef mat-header-cell>Access Level</th>
        <td *matCellDef="let member" mat-cell>{{ member.access_level }}</td>
      </ng-container>

      <ng-container matColumnDef="access level instance">
        <th *matHeaderCellDef mat-header-cell>Access Level Instance</th>
        <td *matCellDef="let member" mat-cell>{{ member.access_level_instance_name }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th *matHeaderCellDef mat-header-cell>Role</th>
        <td *matCellDef="let member" mat-cell>{{ member.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="select-none" *matHeaderCellDef mat-header-cell>Actions</th>
        <td class="w-[180px]" *matCellDef="let member" mat-cell>
          <a class="mr-2" (click)="editMember(member)" mat-stroked-button>
            <mat-icon class="icon-size-4" svgIcon="fa-solid:pencil"></mat-icon>
          </a>
          <a (click)="deleteMember(member)" mat-stroked-button color="warn">
            <mat-icon class="icon-size-4" svgIcon="fa-solid:x"></mat-icon>
          </a>
        </td>
      </ng-container>

      <thead>
        <tr *matHeaderRowDef="membersColumns" mat-header-row></tr>
      </thead>
      <tbody>
        <tr *matRowDef="let row; columns: membersColumns" mat-row></tr>
      </tbody>
    </table>
  </seed-page-table-container>
</seed-page>
