<div class="text-secondary text-sm my-4">
  {{ aboutMap[service] }}
  <mat-divider class="mt-2"></mat-divider>
</div>
  
@if (service === 'BSyncr') {

  <!-- BSYNCR -->
  <form [formGroup]="formBSyncr" class="compact-form">
    <mat-form-field class="w-full">
      <mat-label>BSyncr Model Selection</mat-label>
      <mat-select formControlName="model_type">
        @for (option of bsyncrModelOptions; track option) {
          <mat-option [value]="option" class="compact-form">{{ option }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
} @else if (service === 'CO2') {

  <!-- CO2 -->
  <form [formGroup]="formCO2" class="compact-form">
    <mat-checkbox formControlName="save_co2_results" >
      Save Results to Property
    </mat-checkbox>
  </form>

} @else if (service === 'EUI') {

  <!-- EUI -->
  <form [formGroup]="formEUI" class="compact-form flex flex-col gap-2">
    <mat-button-toggle-group formControlName="select_meters" class="mt-2 border-button-toggle-group">
      <mat-button-toggle value="select_cycle">Cycle</mat-button-toggle>
      <mat-button-toggle value="date_range">Meter Data Range</mat-button-toggle>
      <mat-button-toggle value="all">All Meter Data</mat-button-toggle>
    </mat-button-toggle-group>

    @if (form.value.select_meters === 'select_cycle') {
    <mat-form-field class="flex-1 mt-2">
      <mat-label>Cycle</mat-label>
      <mat-select formControlName="cycle_id">
        @for (cycle of cycles; track cycle) {
        <mat-option [value]="cycle.id">{{ cycle.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    } @else if (form.value.select_meters === 'date_range') {
    <div class="flex gap-4 mt-2" formGroupName="meter">
      <mat-form-field class="flex-1">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="start_date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="flex-1">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="end_date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        @if (form.get('meter.end_date')?.hasError('dateBefore')) {
          <mat-error>End date must be after start date.</mat-error>
        }
      </mat-form-field>
    </div>
    }

  </form>
}