<div class="text-secondary text-sm">
  Actions
  <div
    class="mr-1 flex w-50 cursor-pointer items-center justify-between rounded border border-gray-500 px-2"
    [matMenuTriggerFor]="menu"
    mat-button
  >
    <div class="text-secondary text-sm">Select Action</div>
    <mat-icon class="scale-50" svgIcon="fa-solid:chevron-down"></mat-icon>
  </div>
</div>

<mat-menu class="menu-compact w-80 rounded border text-sm" #menu="matMenu">
  <seed-menu-item (action)="selectAll()" label="Select All"></seed-menu-item>
  <seed-menu-item (action)="deselectAll()" label="Select None"></seed-menu-item>
  <mat-divider></mat-divider>
  <seed-menu-item [disabled]="!hasSelection" (action)="deleteStates()" label="Delete" icon="fa-solid:trash-can"></seed-menu-item>
  <seed-menu-item
    class="text-secondary line-through"
    [disabled]="!hasSelection"
    (action)="tempAction()"
    label="Merge"
    icon="fa-solid:share-nodes"
  ></seed-menu-item>
  <seed-menu-item (action)="openShowPopulatedColumnsModal()" label="Only Show Populated Columns" icon="fa-solid:filter"></seed-menu-item>
  <seed-menu-item [disabled]="!hasSelection" (action)="openExportModal()" label="Export" icon="fa-solid:download"></seed-menu-item>
  <!-- Access Levels -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Access Levels</span>
  <div>
    @if (type === 'properties') {
      <seed-menu-item [disabled]="!hasSelection" (action)="openAliChangeModal()" label="Edit"> </seed-menu-item>
    }
    <seed-menu-item class="text-secondary line-through" (action)="tempAction()" label="Hide"> </seed-menu-item>
  </div>
  <!-- Analyses -->
  @if (type === 'properties') {
    <mat-divider class="my-0"></mat-divider>
    <span class="text-secondary text-sm">Analyses</span>
    <div>
      <seed-menu-item [disabled]="!hasSelection" (action)="openAnalysisRunModal()" label="Run"> </seed-menu-item>
    </div>
  }
  <!-- Audit Template -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Audit Template</span>
  <div>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Export"> </seed-menu-item>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Update"> </seed-menu-item>
  </div>
  <mat-divider class="my-0"></mat-divider>

  <!-- DATA QUALITY DATA -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Data Quality</span>
  <div>
    <seed-menu-item [disabled]="!hasSelection" (action)="openDataQualityCheck()" label="Run Check"> </seed-menu-item>
  </div>
  <!-- DERIVED DATA -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Derived Data</span>
  <div>
    <seed-menu-item [disabled]="!hasSelection" (action)="openDerivedDataUpdateModal()" label="Update"> </seed-menu-item>
  </div>
  <mat-divider class="my-0"></mat-divider>
  <!-- Groups -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Groups</span>
  <div>
    <seed-menu-item [disabled]="!hasSelection" (action)="openGroupsModal()" label="Add / Remove"> </seed-menu-item>
  </div>
  <!-- Labels -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Labels</span>
  <div>
    <seed-menu-item [disabled]="!hasSelection" (action)="openLabelsModal()" label="Add / Remove"> </seed-menu-item>
  </div>
  <mat-divider class="my-0"></mat-divider>
  <!-- MISC / OTHER -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Other</span>
  <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Email"></seed-menu-item>
  <seed-menu-item
    class="text-secondary line-through"
    [disabled]="!hasSelection"
    (action)="tempAction()"
    label="FEMP CTS Export"
  ></seed-menu-item>
  <seed-menu-item [disabled]="!hasSelection" (action)="openGeocodeModal()" label="Geocode"></seed-menu-item>
  <seed-menu-item [disabled]="!hasSelection" (action)="openRefreshMetadataModal()" label="Refresh Updated Timestamp"></seed-menu-item>
  <!-- SalesForce -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">Salesforce</span>
  <div>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Update"> </seed-menu-item>
  </div>
  <!-- UBID -->
  <mat-divider class="my-0"></mat-divider>
  <span class="text-secondary text-sm">UBID</span>
  <div>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Add / Update">
    </seed-menu-item>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Compare">
    </seed-menu-item>
    <seed-menu-item class="text-secondary line-through" [disabled]="!hasSelection" (action)="tempAction()" label="Decode"> </seed-menu-item>
  </div>
</mat-menu>
