<seed-inventory-grid-controls
  [pagination]="pagination"
  [resetGrid]="resetGrid"
  [selectedViewIds]="selectedViewIds"
  (pageChange)="onPageChange($event)"
>
</seed-inventory-grid-controls>

<ag-grid-angular
  class="inventory-grid h-[calc(100%-100px)] w-full"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [gridOptions]="gridOptions"
  [paginationPageSize]="agPageSize"
  [rowData]="rowData"
  [theme]="gridTheme$ | async"
  (gridReady)="onGridReady($event)"
  (filterChanged)="onFilterSortChange()"
  (sortChanged)="onFilterSortChange()"
  style="width: 100%; height: 100%"
/>
